// COLORS
$color-primary: #333333;
$color-lignt: #ffffff;
$color-blue: #23a6f0;
$color-primary-blue: #252B42;

// Container
$width-container: 1200px;
$p-container: 30px;

// FONTS
$font-montserrat: 'Montserrat';

