
.header {

  .container {
    position: relative;
  }

  &__logo {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: $color-lignt;
  }

  &__nav {
    .nav__list {
      @include list-unstyled;
    }
    
    a{
      @include a-unstyled;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: $color-lignt
    }
    
    .nav__links {
      @include list-unstyled;
    }

    .nav__button {
      @include button-square;
      padding: 15px 25px;
    }
  }
}


.menu {
  position: absolute; 
  top: 0;
  right: 0;
  display: none;
  
  &__list {
    @include list-unstyled;
    display: flex;

    button {
      font-size: 22px;
      background: none;
      border: none;
      color: $color-lignt;
    }
  }
}


@media (max-width: 992px) {

  .header {

    .menu {
      display: block;
    }
    
    .nav {
      display: none;
    }
  }

}


@media (max-width: 576px) {

  .hero__title {
    font-weight: bold !important;
    font-size: 40px !important;
    line-height: 57px !important;
    text-align: center;
    color: red;
  }

  .hero__slogan {
    text-align: center;
  }

  .hero__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__btn {
    text-align: center;
    width: 185px;
    margin-bottom: 20px;
    display: inline-block;
  }

  .button-tr {
    width: 160px;
  }
}